<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="src">
      <directory suffix="Test.php">tests/src</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <file>BEAR.php</file>
      <directory suffix=".php">BEAR</directory>
    </include>
    <exclude>
      <file>BEAR/BEAR/bin/bear.php</file>
      <directory>BEAR/vendors</directory>
    </exclude>
  </source>
</phpunit>
