@CHARSET "UTF-8";

body {
	background-color: #fff;
	margin: 40px;
	font-family: Lucida Grande, Verdana, Sans-serif;
	font-size: 14px;
	color: #4F5155;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

a:visited {
	color: #003399;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: none;
	background-color: transparent;
}

h1 {
	color: #333;
	background-color: #efefef;
	font-weight: normal;
	font-size: 22px;
	margin: 0 0 15px 0;
	padding: 3px 2px 3px 10px;
}

h2 {
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
	color: #444;
	font-size: 16px;
	font-weight: bold;
	margin: 24px 0 2px 0;
	padding: 5px 0 6px 0;
}

h3 {
	background-color: transparent;
	color: #333;
	font-size: 14px;
	font-weight: bold;
	margin: 22px 0 12px 0;
	padding: 0 0 0 0;
}

h4 {
	background-color: transparent;
	color: #444;
	font-size: 14px;
	font-weight: bold;
	margin: 22px 0 0 0;
	padding: 0 0 0 0;
}

img {
	margin: auto;
	padding: 0;
}

code {
	font-family: Monaco, Verdana, Sans-serif;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

pre {
	font-family: Monaco, Verdana, Sans-serif;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

dfn {
	font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
	color: #00620C;
	font-weight: bold;
	font-style: normal;
}

var {
	font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
	color: #8F5B00;
	font-weight: bold;
	font-style: normal;
}

samp {
	font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
	color: #480091;
	font-weight: bold;
	font-style: normal;
}

kbd {
	font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
	color: #A70000;
	font-weight: bold;
	font-style: normal;
}

ul {
	padding: 0 0 0 18px;
	margin: 8px 0 12px 0;
}

li {
	padding: 0;
	margin: 0 0 6px 0;
}

li p {
	margin-left: 0;
	margin-right: 0;
}

form {
	margin: 0;
	padding: 0;
}

.input {
	font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
	font-size: 11px;
	color: #333;
	border: 1px solid #B3B4BD;
	width: 100%;
	font-size: 11px;
	height: 1.5em;
	padding: 0;
	margin: 0;
}

.textarea {
	font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
	font-size: 14px;
	color: #143270;
	background-color: #f9f9f9;
	border: 1px solid #B3B4BD;
	width: 100%;
	padding: 0;
	margin: 0;
}

.select {
	background-color: #fff;
	font-size: 11px;
	font-weight: normal;
	color: #333;
	padding: 0;
	margin: 0 0 3px 0;
}

.checkbox {
	background-color: transparent;
	padding: 0;
	border: 0;
}

.submit {
	background-color: #000;
	color: #fff;
	font-weight: normal;
	font-size: 10px;
	border: 1px solid #fff;
	margin: 0;
	padding: 1px 5px 2px 5px;
}

input:hover {
	background-color: #eeffff;
}

input:focus {
	background-color: #eeeeff;
}

input:active {
	background-color: #eeeeee;
}

.container {width:950px;margin:0 auto;}